# ======================
# Node / Package Manager
# ======================
node_modules/
.yarn/
.pnp.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Build / Output
# ======================
dist/
build/
out/

# ======================
# TypeScript
# ======================
*.tsbuildinfo

# ======================
# Environment variables
# ======================
.env
.env.*
!.env.example

# ======================
# Sequelize
# ======================
/storage/
sequelize.sqlite
*.sqlite

# ======================
# OS / Editor
# ======================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ======================
# Coverage / Tests
# ======================
coverage/
.nyc_output/

# ======================
# Temporary / Logs
# ======================
*.log
temp/
tmp/

# ======================
# Misc
# ======================
objetivo.txt
